# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/.pnpm-store/*
/apps/web/node_modules
/apps/api/node_modules
# monorepo workspaces
/packages/*/node_modules
/services/*/node_modules

# ca-certs
*.crt
*.pem
*.cer 

# testing
/coverage

# next.js
/.next/
/apps/web/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore alternate data stream files from Windows
*:Zone.Identifier
*:mshield
